.textNotification {
  max-width: 200px;
  display: flex;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 20px;
  background-color: rgb(215, 231, 179);
  border-radius: 35%;
}
